/*视差滚动背景*/
body{
    overflow-x:hidden;
}
/*————column-1——————*/
#column-1{
    padding-top:80px;
}
#zxy-photo,#zxy-hover,#zxy-visited{
    width: 100%;
    padding-top: 8%;
    -webkit-appearance: none;
}

#text-hello-1{
    color: var(--black);
    font-family:'Noto Sans SC', sans-serif;
    font-weight: 900;
    font-size: 2.3vw;
    padding-bottom: 0.5em;}

#text-hello-2{
    color: var(--black);
    font-style: normal;
    font-family:'XiquewudongmianTiJianTi',sans-serif;
    font-weight: 400;
    font-size: 1.4vw;
    line-height: 2.5vw;
}

#text-hello{
    padding-top:20%;
}

/*打字机效果开始*/
@keyframes blink-caret {
    from, to { box-shadow: 4px 0 0 0 #fff, 5px 0 0 0 transparent; }
    50% { box-shadow: 4px 0 0 0 #fff, 5px 0 0 0; }
}
.typing1 {
    width: 8.2em;
    line-height: 2;
    white-space: nowrap;
    animation: typing1 1.5s steps(8, end), blink-caret .3s step-end 7;
    overflow: hidden;
}
@keyframes typing1 {
    from { width: 0; }
    to { width: 8em; }
}
.typing2 {
    width: 11.2em;
    line-height: 2;
    white-space: nowrap;
    animation: typing2 1.5s steps(11, end), blink-caret .3s step-end 7;
    animation-delay: 2s;
    animation-fill-mode: backwards;
    overflow: hidden;
}
@keyframes typing2 {
    from { width: 0; }
    to { width: 11em; }
}
.typing3 {
    width: 18.2em;
    line-height: 2;
    white-space: nowrap;
    animation: typing3 2s steps(18, end), blink-caret .3s step-end 9;
    animation-delay:4.4s;
    animation-fill-mode: backwards;
    overflow: hidden;
}
@keyframes typing3 {
    from { width: 0; }
    to { width: 18em; }
}

/*打字机效果结束*/



/*———— Scroll Down ——————*/

#scroll{
    padding-top: 1em;
    font-family: 'Noto Sans SC', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    color: var(--eerie-black);
    display: flex; /**/
    justify-content: center; /*水平居中*/
}
#scroll-line{
    width: 2px;
    height: 60px;
    background-color:var(--black) ;
    margin: 0 auto;
}





/*——————图片切换————————*/
#column-2{
    margin: 0 -80px;
    position: relative;
}
#content-info{
    z-index:2;
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
}
#content-info .Heading-6{
    white-space:nowrap;
}

#content-info div{
    margin: 0.5em 0;
    text-align:center;
}

#content-info div:nth-child(2){
    font-family:'XiquewudongmianTiJianTi',sans-serif;
    font-weight: 200;
    font-style: normal;
}

#overlay{
    left: 0;
    right: 0;
    background:var(--primary);
    opacity: 0.8;
    position: absolute;
    top: 0;
    z-index:1;
    padding-bottom:75%; /* 我也不知道发生了什么但这样似乎就好了！耶！*/
}

#content {
    width:100%;
    margin: 0 auto;
    position: relative;
}

#content a {
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    filter: alpha(opacity: 60);/* 透明度兼容IE */
    opacity: 0.6;/* 兼容主流浏览器 */
    padding-top: 35%;
    position: absolute;
    z-index:2;
}
#content a:hover {
    color: pink;
    filter: alpha(opacity: 90);/* 透明度兼容IE */
    opacity: 0.9;/* 兼容主流浏览器 */
}
#content img{
    width: 100%;
}
#prev {left: 3vw;}
#next {right: 3vw;}
#content a span{
    font-size: 2vw;
}
#txt1,#span1 {
    width:100%;
    position: absolute;
    height: 25px;
    line-height: 25px;
    text-align: center;
    color:black;
    z-index:999;
}
#span1{margin: 1em 0;}
#txt1 {bottom: 0;margin: 1em 0;}

/*——设置两个晃动的形状——*/


#svg-1{
    position:absolute;
    width: 400px;
    height: auto;
    z-index: 4;
    right: -220px;
    top: -250px;
    animation: ani-intro-label_1 5s forwards cubic-bezier(0.34, 1.56, 0.64, 1);
    animation-iteration-count:infinite;
}
#svg-2{
    position:absolute;
    width: 300px;
    height: auto;
    z-index: 4;
    left: -100px;
    bottom: -100px;
    animation: ani-intro-label_1 5s forwards infinite;
    animation-iteration-count:infinite;
    display: -webkit-box;
}

@keyframes ani-intro-label_1 {
    0%{
        transform: scale(1)rotate(0deg);  /*开始为原始大小*/
    }
    25%{
        transform: scale(1.05)rotate(10deg); /*放大1.1倍*/
    }
    50%{
        transform: scale(1)rotate(0deg);
    }
    75%{
        transform: scale(1.05)rotate(10deg);
    }
}


/*———————填写地址栏———————*/

#column-3{
    margin: 8em 0;
}
#Address,#Message{
    margin-top: 3em;
}
#Message-title{
    margin-bottom: 1em;
}
#Email{
    margin-top: 1.5em;
}
#Send{
    margin:0.5em 0 0 0;

    /*【使表单提交后弹出提示】*/
}
#say {
    background:url('../image/map.png') center center no-repeat scroll;
    background-size: cover;
    height: 100%;
    min-height:400px;
}
button{
    -webkit-appearance: none;
}

@media (max-width: 768px){
    #page1-1 .col-md-5{
        padding-left: 80px;
    }
    #text-hello-1{
        color: var(--black);
        font-family:'Noto Sans SC', sans-serif;
        font-weight: 900;
        font-size: var(--font-size-xl);
        line-height: 40px;
        padding-bottom: 0.5em;}

    #text-hello-2{
        color: var(--black);
        font-style: normal;
        font-family:'XiquewudongmianTiJianTi',sans-serif;
        font-weight: 400;
        font-size: 3vw;
        line-height: 35px;
        margin-bottom: 18vh;
    }
    #Send{
        margin:0.5em 0 3em 0;
        /*【使表单提交后弹出提示】*/
    }
}

